
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

:root{
    --clr: #11111A;
}

body{
    background: var(--clr);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.navbar{
    position: relative;
    width: 100%;
    height: 58px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 21px;
    bottom: 0;
    position: fixed;
    z-index: 1;
    margin-bottom: 12px;
    
    

}

.navbar ul{
    display: flex;
    width: 300px;
    padding-left: 30px;
   
}
.navbar ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 60px;
    z-index: 1;
    cursor: pointer;
 
    
  
}

.navbar ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    
}

.navbar ul li a .icon{
    position: relative;
    display: block;
    line-height: 70px;
    font-size: 2rem;
    text-align: center;
    color: var(--clr);
    transition: 0.5s;
    padding-right: 8px;
 
 
}

.navbar ul li.active a .icon{
    transform: translateY(-30px);

}


.navbar ul li a .text{
    position: absolute;
    color: var(--clr);
    font-size: 0.80em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
    padding-right: 5px;
 
}

.navbar ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}

.indicator{
    position: absolute;
    top: -50%;
    width: 50px;
    height: 50px;
    background: rgb(140, 56, 223);
    border-radius: 50%;
    border: 5px solid var(--clr);
    transition: 0.5s;
}

#contact{
    white-space: nowrap;
}
.navbar ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
.navbar ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}
.navbar ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}
.navbar ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));
}

.header h1{
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Kanit', sans-serif;
    font-size: 45px;
    line-height: 1.1;
    margin: 25px;

}
.header .innovations{
  outline: none;
  background: linear-gradient(135deg, #5335cf, #de005e, #f66e48, #de005e, #5335cf);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: gradient 10s alternate infinite;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  
}
@keyframes gradient {
    to {
      background-position: 400% center;
    }
  }

.header .projects{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bangers', cursive;
    transform: translate(-50%, -50%);
    margin-top: 370px;
    position: relative;
    left: 50%;

}

.header .projects a{

    display: block;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    font-family: 'Bangers', cursive;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 10px;
    letter-spacing: 2px;
    transition: all 0.5s;
}

.projects a:hover{
    letter-spacing: 6px;

}
.para{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 37px 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.titles{
    display: flex;

    margin: 20px 25px;

}

.titles h1{
  outline: none;
  background: linear-gradient(135deg, #7558ea, #f1448c, #f67e5d, #f1428b, #7152ec);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: stillAnimate 10s alternate infinite;
  font-family: 'Kanit', sans-serif;
}


.coding{
    margin: 40px 25px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.coding img{
    height: 13rem;
    width: 19rem;
}

.card{
    box-shadow: rgba(248, 241, 241, 0.35) 0px 5px 15px;
    color: hsl(200 50% 20%);
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 300;
    width: 56vmin;
    height: 76vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3ch;
    border-radius: 2ch;
    margin-top: 70px;
    margin: 60px 40px;
   
}
#bluebird{
    background: url(bluebird.png) no-repeat center top/cover;
    background-size: 30rem 16rem;
    

}
#spotify{
    background: url(spotify.png) no-repeat center top/cover;
    background-size: 30rem 16rem;

}

.card .in-card{
    justify-content: center;
    margin-top: 16rem;
    font-size: 2rem;
    align-items: center;
    
}

.card .in-card a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    -webkit-text-stroke: 1px rgb(140, 56, 223);
    white-space: nowrap;
    font-family: 'Kanit', sans-serif;
}

.card .in-card p{
    margin-top: 0.6rem;
    white-space: nowrap;
}

.para{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 37px 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

}
#github p span a{
    
    color: #fff;
}

#github p span a:hover{
    color: rgb(140, 56, 223);
}

.socialimg{
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.socialimg img{
    height: 18rem;
    width: 18rem;

}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}
.socials a{
    text-decoration: none;
}
.app{
    color: #fff;
    padding-left: 10px;
}

.tweet{
    color: #00ffff;
}
.disc{
    color: #fff;
    padding-left: 5px;
}
.insta{
    color: #DB4089;
    padding-left:29px;
}
.iconify{
    
    padding-left:19px;
}
.linkedin{
    color: #0274B3;
    padding-left:5px;
}


.shaking{

    display: flex;
    margin: 15px 25px;
    justify-content: center;
    animation: shake 1s ease infinite;
    color: #fff;
    font-size: 15px;
    
}

.shaking:first-child{
    margin-right: 20px;
}

@keyframes shake{
    0%{
      transform: translateX(0)
    }
    25%{
      transform: translateX(5px);
    }
      
    50%{
      transform: translateX(-5px);
    }
    100%{
      transform: translateX(0px);
    }
 }

#joinme{
    margin-top: 28px;
}


.why{
    color: #fff;
    font-size: 15px;
    margin: 0px 25px;
    padding-bottom: 5px;
    -webkit-text-stroke: 1px rgb(140, 56, 223);
}

#folks{
    margin-bottom: 13px;
}

.perks{
    color: #fff;
    font-size: 11px;
    margin: 6px 25px;
}

.in-perks{
    padding-left: 18px;
}
#exp{
    margin-top: 18px;
    padding-bottom: 5px;
}

.job-dates{
    color: #fff;
    font-size: 11px;
    margin: 14px 25px;
}

.dates{
    border: 2px solid #f1428b;
    width: 12.2rem;
}

#acgc{
    width: 10.9rem;
}

#yt{
    width: 10rem;
}

.jobs{
    font-size: 15px;
}

.job-dates-right{
    position: absolute;
    right: 0px;
    color: #fff;
    font-size: 11px;

    margin-right: 25px;
   
    
}

#job3{
    margin-top: 82px;
}

#mailto p span a{
    
    color: #fff;
    
}

#mailto p span a:hover{
    color: rgb(140, 56, 223);
    
}

.searchBox{
    display: none;
}
.logo{
    display: none;
}

.footer-wrapper{
    display: none;
}

.scrolling{
    display: none;
}

.exp-job{
    display: none;
}