<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="screen and (max-width: 490px)" href="phone.css">

</head>

<body>
    <div class="navbar">
        <ul>
            <li class="item active">
                <a>
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>

                    <span class="text">
                        Home
                    </span>

                </a>
            </li>
            <li class="item">
                <a>
                    <span class="icon">
                        <ion-icon name="code-slash-outline"></ion-icon>
                    </span>

                    <span class="text">
                        Projects
                    </span>

                </a>
            </li>
            <li class="item">
                <a>
                    <span class="icon">
                        <ion-icon name="mail-outline"></ion-icon>
                    </span>

                    <span class="text" id="contact">
                        Contact Me
                    </span>

                </a>
            </li>
            <li class="item">
                <a>
                    <span class="icon">
                        <ion-icon name="bulb-outline"></ion-icon>
                    </span>

                    <span class="text">
                        Join Me
                    </span>

                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>
    <div class="header">
        <h1>on a mission to revolutionize the tech industry with my <span class="innovations">innovations</span></h1>
      
        
        <div class="projects">
            <a href="#">View Projects</a>
        </div>
                
    </div>

    <div class="hello">
        <p>Hello Stranger 👋, I am Shivraj Goswami, a teenager from India 🇮🇳 . I am an opensource and startup ethusiast. I love to help people and make their lives better with my ideas turned products.</p>
    </div>

    <div class="myWork">
        <h1>Some of My Work</h1>
    </div>
        <div class="card" id="bluebird">
            <a href="">Blue Bird</a>
        </div>
        <div class="card" id="spotify">
            <a href="">No Ads Spotify</a>
        </div>
        <div class="card" id="soon">
            <a href="">Soon</a>
        </div>
    <script>
        const item = document.querySelectorAll('.item');
        function activeLink() {
            item.forEach((part) =>
                part.classList.remove('active'));
            this.classList.add('active');
        }
        item.forEach((part) =>
            part.addEventListener('click', activeLink));
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>