<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="screen and (max-width: 490px)" href="phone.css">

</head>

<body>
    <div class="navbar">
        <ul>
            <li class="item active">
                <a href="">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>

                    <span class="text">
                        Home
                    </span>

                </a>
            </li>
            <li class="item">
                <a href="#projects">
                    <span class="icon">
                        <ion-icon name="code-slash-outline"></ion-icon>
                    </span>

                    <span class="text">
                        Projects
                    </span>

                </a>
            </li>
            <li class="item">
                <a href="#joinme">
                    <span class="icon">
                        <ion-icon name="bulb-outline"></ion-icon>
                        
                    </span>

                    <span class="text" id="contact">
                        Join Me
                    </span>

                </a>
            </li>
            <li class="item">
                <a href="#stranger">
                    <span class="icon">
                        <ion-icon name="mail-outline"></ion-icon>
                    </span>

                    <span class="text">
                        Contact Me
                    </span>

                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>
    <div class="header">
        <h1>on a mission to revolutionize the tech industry with my <span class="innovations">innovations</span></h1>


        <div class="projects">
            <a href="#projects">View Projects</a>
        </div>

    </div>

    <div class="para">
        <p>Hello Stranger 👋, I am Shivraj Goswami, a teenager from India 🇮🇳 . I am an opensource and startup
            ethusiast. I love to help people and make their lives better with my ideas turned products.</p>
    </div>

    <div class="titles" id="projects">
        <h1>Some of My Work</h1>
    </div>
    <div class="card" id="bluebird">
        <a href="https://justbluebird.netlify.app">Blue Bird</a>

    </div>
    <div class="card" id="spotify">
        <a href="https://github.com/ImShivraj/spotify-ad-free">No Ads Spotify</a>
    </div>
    <div class="card" id="soon">
        <a href="#">Soon</a>
    </div>
    <div class="para" id="github">
        <p>Check Out my <span><a href="https://github.com/ImShivraj/"> Github </a></span> for all the projects</p>
    </div>

    <div class="titles" id="knowme">
        <h1>Technologies that I Work With</h1>
    </div>

        <div class="shaking">
            <h2>
                <span class="iconify" data-icon="logos:html-5"></span>
                <span>HTML</span>
            </h2>
        </div>
        <div class="shaking">
            <h2>
                <span class="iconify" data-icon="logos:css-3"></span>
                <span>CSS</span>
            </h2>
        </div>
        <div class="shaking">
            <h2><span class="iconify" data-icon="logos:javascript"></span>
                <span>Javascript</span>
            </h2>
        </div>
        <div class="shaking">
            <h2>
                <span class="iconify" data-icon="logos:python"></span>
                <span>Python</span>
            </h2>
        </div>
        <div class="shaking">
            <h2><span class="iconify" data-icon="vscode-icons:file-type-sql"></span>
                <span>SQL</span>
            </h2>
        </div>
        <div class="shaking">
            <h2><span class="iconify" data-icon="vscode-icons:file-type-django"></span>
                <span>Django</span>
            </h2>
        </div>
        <div class="shaking">
            <h2><span class="iconify" data-icon="bx:git-branch"></span>
                <span>Git</span>
            </h2>
        </div>
        <div class="shaking">
            <h2><span class="iconify" data-icon="akar-icons:github-fill"></span>
                <span>Github</span>
            </h2>
        </div>
        <div class="shaking">
            <h2><span class="iconify" data-icon="flat-color-icons:linux"></span>
                <span>Linux</span>
            </h2>
        </div>
        <div class="shaking">
            <h2><span class="iconify" data-icon="logos:figma"></span>
                <span>Figma</span>
            </h2>
        </div>
        <div class="shaking">
            <h2><span class="iconify" data-icon="vscode-icons:file-type-photoshop"></span>
                <span>Photoshop</span>
            </h2>
        </div>
        <div class="shaking">
            <h2><span class="iconify" data-icon="file-icons:adobe-premiere"></span>
                <span>Premiere Pro</span>
            </h2>
        </div>

        <div class="titles" id="joinme">
            <h1>Join Me !</h1>
        </div>
        <p class="para">I am looking for like-minded folks to work together and make innovative projects that hold the potential of changing peoples' lives.</p>

        <div class="why">
            <h2>Some of my Perks </h2>
        </div>

        <div class="perks">
            <h2> &#8594;<span class="in-perks">Professional</span> </h2>
        </div>
        <div class="perks">
            <h2> &#8594;<span class="in-perks">Hard Working</span> </h2>
        </div>
        <div class="perks">
            <h2> &#8594;<span class="in-perks">Punctual</span> </h2>
        </div>
        <div class="perks">
            <h2> &#8594;<span class="in-perks">Organized</span> </h2>
        </div>
        <div class="perks">
            <h2> &#8594;<span class="in-perks">Self-taught</span></h2>
        </div>

        <div class="why" id="exp">
            <h2>Experience </h2>
        </div>




    <div class="titles" id="stranger">
        <h1>Don't Be A Stranger !</h1>
    </div>
    <p class="para">Don't you think it is kinda unfair that I don't know you though I have told you so much about myself
        ? Wouldn't it be great if we have a nice conversation in chat or hop in a call ? I too wanna know the beautiful
        person who came to visit my website. Let's Connect: </p>

    <div class="socials" id="socials">
        <a href="https://twitter.com/ImShivraj__">
            <h3>
                <ion-icon name="logo-twitter" class="tweet"></ion-icon>
                <span class="app">Twitter</span>
            </h3>
        </a>
    </div>


    <div class="socials">

        <a href="https://discord.gg/bxqFTT9pUd">
            <h3>
                <ion-icon name="logo-discord" class="disc"></ion-icon>
                <span class="app">Discord</span>
            </h3>
        </a>
    </div>


    <div class="socials">
        <a href="https://www.instagram.com/hiboraz/">
            <h3>
                <ion-icon name="logo-instagram" class="insta"></ion-icon>
                <span class="app">Instagram</span>
            </h3>
        </a>
    </div>
    <div class="socials">
        <a href="https://telegram.me/TTimshivrajTT">
            <h3>
                <span class="iconify" data-icon="logos:telegram"></span>
                <span class="app">Telegram</span>
            </h3>
        </a>
    </div>

    <div class="socials">
        <a href="https://www.linkedin.com/in/shivraj-goswami-602b64236/">
            <h3>
                <ion-icon name="logo-linkedin" class="linkedin"></ion-icon>
                <span class="app">Linkedin</span>
            </h3>
        </a>
    </div>

    <div class="titles">
        <h1>heelo

        </h1>
    </div>

    <script>
        const item = document.querySelectorAll('.item');
        function activeLink() {
            item.forEach((part) =>
                part.classList.remove('active'));
            this.classList.add('active');
        }
        item.forEach((part) =>
            part.addEventListener('click', activeLink));
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</body>

</html>