@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

:root{
    --clr: #11111A;
}

body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* min-height: 100vh; */
    background: var(--clr);
}
.navbar{
    position: relative;
    width: 100%;
    height: 75px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;
    bottom: 0;
    position: fixed;
    
    

}

.navbar ul{
    display: flex;
    width: 300px;
    padding-left: 26px;
}
.navbar ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
    cursor: pointer;
    
  
}

.navbar ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    
}

.navbar ul li a .icon{
    position: relative;
    display: block;
    line-height: 70px;
    font-size: 2rem;
    text-align: center;
    color: var(--clr);
    transition: 0.5s;
}

.navbar ul li.active a .icon{
    transform: translateY(-35px);

}


.navbar ul li a .text{
    position: absolute;
    color: var(--clr);
    font-size: 0.85em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navbar ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}

.indicator{
    position: absolute;
    top: -50%;
    width: 60px;
    height: 60px;
    background: rgb(140, 56, 223);
    border-radius: 50%;
    border: 5px solid var(--clr);
    transition: 0.5s;
}

#contact{
    white-space: nowrap;
}
.navbar ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
.navbar ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}
.navbar ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}
.navbar ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));
}

.header h1{
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Kanit', sans-serif;
    font-size: 45px;
    line-height: 1.1;
    margin: 25px;

}
.header .innovations{
  outline: none;
  background: linear-gradient(135deg, #5335cf, #de005e, #f66e48, #de005e, #5335cf);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: gradient 10s alternate infinite;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  
}
@keyframes gradient {
    to {
      background-position: 400% center;
    }
  }

.header .projects{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bangers', cursive;
    transform: translate(-50%, -50%);
    margin-top: 350px;
    position: relative;
    left: 50%;

}

.header .projects a{

    display: block;
    font-size: 17px;
    text-decoration: none;
    color: #fff;
    font-family: 'Bangers', cursive;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 10px;
    letter-spacing: 2px;
    transition: all 0.5s;
}

.projects a:hover{
    letter-spacing: 7px;

}